.section-two{
    display: none;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    padding: 0 18px;
    margin-top: 30px;
    column-gap: 26px;
    row-gap: 26px;
    .card-box{
        width: 100%;
        position: relative;
        img{
            width: 100%;
        }
        .text-area{
            position: absolute;
            top: 20%;
            left: 30px;
            p{
                color: $color;
                padding: 0;
            }
            h2{
                padding: 0;
            }
            button{
                border: none;
                background: none;
                padding: 6px 6px;
                border-bottom: 2px solid black;
                &:hover{
                    color: $color;
                    border-bottom: 2px solid $color;
                }
            }
        }
    }
}


@media only screen and (max-width: 1100px){
    .section-two{
        grid-template-columns: repeat(2,1fr);
        .card-box{
            .text-area{
                top: 20%;
            }
        }
    }
}
@media only screen and (max-width: 750px){
    .section-two{
        grid-template-columns: repeat(2,1fr);
        .card-box{
            .text-area{
                top: 10%;
            }
        }
    }
}
@media only screen and (max-width: 650px){
    .section-two{
        grid-template-columns: repeat(1,1fr);
        .card-box{
            .text-area{
                top: 30%;
            }
        }
    }
}